
.metadata/.plugins/org.eclipse.core.resources/.projects/Problem 1/org.eclipse.jdt.core/state.dat

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

*.snap

*.zip

.metadata/.plugins/org.eclipse.core.resources/.projects/Problem 1/.markers

*.snap
